<form role="form">
		<div class="form-group">
			<label for="startdate"> Start date/time</label>
			<input type="date" class="form-control" id="date" name="date" placeholder="Select date" />
		</div>
		<div class="form-group">
			<label for="endtime"> Closing time</label>
			<input type="time" class="form-control" id="endtime" name="endtime" placeholder="time you closed" />
		</div>

		  <div class="form-group">
		    <label for="magazines">Magazines</label>
		    <input type="number" name="magazines" class="form-control bfh-number" id="magazines" placeholder="number of magazines" />
		  </div>
		  <div class="form-group">
		  	<label for="tracts">Tracts & Brochures</label>
		  	<input type="number" name="tracts" class="form-control bfh-number" id="tracts" placeholder="number of tracts/brochures" />
		  </div>
		  <div class="form-group">
		    <label for="bs">Bible Studies</label>
		    <input type="number" class="form-control bfh-number" name="bs" id="bs" placeholder="Number of bibile studies conducted" />
		  </div>
		  <div class="form-group">
		    <label for="rv">Return visits</label>
		    <input type="number" class="form-control bfh-number" name="rv" id="rv" placeholder="Number of returns" />
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
</form>